In [34]:
import numpy as np
import pandas as pd

## Operações com Dataframe

Criando 2 DataFrames (3x5)

In [35]:
np.random.randint(10, size=(3,5))

array([[0, 5, 8, 4, 1],
       [5, 8, 2, 3, 1],
       [1, 6, 6, 0, 2]])

In [36]:
df1 = pd.DataFrame(np.random.randint(10, size=(3,5)), columns = ['A','B','C','D','E'])
df1

   A  B  C  D  E
0  3  0  3  0  4
1  2  4  1  0  7
2  6  1  5  2  0

In [37]:
df2 = pd.DataFrame(np.random.randint(10, size=(3,5)), columns = ['A','B','C','D','E'])
df2

   A  B  C  D  E
0  4  6  5  1  4
1  4  1  9  1  5
2  4  7  1  5  3

Somando 2 DataFrames(3x5)

In [38]:
df1 + df2

    A  B   C  D   E
0   7  6   8  1   8
1   6  5  10  1  12
2  10  8   6  7   3

Criando 1 DataFrame (1x5)

In [39]:
df3 = pd.DataFrame(np.random.randint(10, size=(1,5)), columns = ['A','B','C','D','E'])
df3

   A  B  C  D  E
0  4  1  4  0  8

Somando 2 DataFrames (3 x 5 e 1 x 5)

In [40]:
df1 + df3

     A    B    C    D     E
0  7.0  1.0  7.0  0.0  12.0
1  NaN  NaN  NaN  NaN   NaN
2  NaN  NaN  NaN  NaN   NaN

Zerando uma linha

In [41]:
df1

   A  B  C  D  E
0  3  0  3  0  4
1  2  4  1  0  7
2  6  1  5  2  0

In [42]:
df1.iloc[0]

A    3
B    0
C    3
D    0
E    4
Name: 0, dtype: int32

In [43]:
df1 - df1.iloc[0]

   A  B  C  D  E
0  0  0  0  0  0
1 -1  4 -2  0  3
2  3  1  2  2 -4

Operação com escalar

In [44]:
df1

   A  B  C  D  E
0  3  0  3  0  4
1  2  4  1  0  7
2  6  1  5  2  0

In [45]:
df1 * 100

     A    B    C    D    E
0  300    0  300    0  400
1  200  400  100    0  700
2  600  100  500  200    0

In [46]:
df1 * 100 + 200

     A    B    C    D    E
0  500  200  500  200  600
1  400  600  300  200  900
2  800  300  700  400  200

Transpondo DataFrame

In [47]:
df1.T

   0  1  2
A  3  2  6
B  0  4  1
C  3  1  5
D  0  0  2
E  4  7  0

Calculando exponencial dos valores

In [48]:
np.exp(df1)

            A          B           C         D            E
0   20.085537   1.000000   20.085537  1.000000    54.598150
1    7.389056  54.598150    2.718282  1.000000  1096.633158
2  403.428793   2.718282  148.413159  7.389056     1.000000

## Vacinações no Acre

Vamos trabalhar agora com a database de vacinações no Acre.

1. Quantas vacinas estão registradas nessa base?
2. Quantos pacientes foram vacinados?(considere um paciente paraa cada valor único de paciente_id)
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere esecial neste campo. Rececba os valores do campo com o método .unique()
4. Quantos pacientes com menos de 18 anos foram vacinados?
5. Quantos estabelecimentos apalicaram vacina no Acre?

OBS: O portal DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por esse motivo está disponível uma base estática, que se for bbaixada para o seu working directory pode ser lida com este comando: df = pd.read_csv('registros de vacinação covid ACRE.csv',sep=';').

In [49]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00001-e45b1ab6-500c-4f78-a408-7e62ff651112.c000.csv'

In [50]:
#1
df = pd.read_csv(arquivo, sep=';')

In [51]:
df.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,d390f49b-db4f-45ca-93ad-505602f86699-i0b0,00a24bcb7c57019951363054249db234381f3027fb7639...,6,2015-03-21,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,NaN,NaN,FP8290,Pendente Identificação,Organization/28290,2022-03-03,1ª Dose,99,COVID-19 PEDIÁTRICA - PFIZER COMIRNATY,Novo PNI
1,eeb7f0dd-b91e-4970-9faf-97616d3f56bd-i0b0,4e55de8a8503020b81d4b5e71c65f036d90dcb389de198...,15,2007-01-28,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,210520,SINOVAC/BUTANTAN,29501,2022-09-22,Reforço,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
2,e57971f5-6b8c-40b6-ac34-ff203c0b4cea-i0b0,1a79c1e8884a0329eefa4517b39e8546e2dba8a285e77c...,39,1981-11-20,F,3,PARDA,120045.0,10.0,SENADOR GUIOMARD,...,2.0,Faixa Etária,214VCD053W,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-08-31,2ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
3,eed74d58-6444-4b72-bbf3-06bb33e97409-i0b0,807a9daecf3a662be85fd3a7f127b0b5f67b4513b64c0e...,15,2006-03-02,F,1,BRANCA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-08-06,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
4,bf8e6746-c745-4312-a78c-59f25cf21585-i0b0,8c983d99356ebfb89dcff2d47ffc709908876e0a06e733...,21,2000-07-30,F,3,PARDA,120043.0,10.0,SANTA ROSA DO PURUS,...,9.0,Trabalhadores de Saúde,217VCD239Z,ASTRAZENECA/FIOCRUZ,Organization/149,2022-01-13,Reforço,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI

In [52]:
df.shape[0]

388384

In [53]:
#2
df['paciente_id'].nunique()

317266

In [54]:
#3
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

143842

In [55]:
#3 solução alternativa
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

143842

In [56]:
#4
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

68773

In [57]:
#5
df['estabelecimento_razaoSocial'].nunique()

62

## Vacinação II

Gere um dataframe que contenha somente os estabelecimentos que aplicaram vacinas a menores de 18 anos. Nesse dataframe devem conter somente dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos

1. Crie uma cópia do DataFrame original, contendo somente os registros de vacinas realizadas a menores de 18 anos
2. crie uma lista das colunas desse DataFrame com o atributo de DataFrame .columns()
3. Nesse DataFrame faça uma contagem do campo Vacina_categoria_nome.
4. A partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esse valores.
5. Usando o método .loc, selecione somente essas variáveis
6. Aplique o método .drop_duplicates e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [58]:
#1
df_menor = df[df["paciente_idade"]<18].copy()

In [59]:
#2
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [60]:
#3
df_menor['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Faixa Etária                                      47794
Povos Indígenas                                    4668
Outros                                             3800
Povos e Comunidades Tradicionais                    849
Trabalhadores de Saúde                              257
Comorbidades                                         54
População Privada de Liberdade                       48
Gestantes                                            44
Trabalhadores da Educação                            19
Pessoas com Deficiência                               9
Trabalhadores de Transporte                           8
Puérperas                                             7
Pessoas Institucionalizadas                           2
Pessoas de 60 anos ou mais institucionalizadas        1
Name: count, dtype: int64

In [64]:
#4
lista_variaveis = ['estabelecimento_valor', 'estabelecimento_razaoSocial', 'estalecimento_noFantasia', 'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome', 'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]

In [65]:
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(210, 6)